@font-face {
    font-family: 'Ananda Namaste';
    src: url('AnandaNamaste.woff2') format('woff2'),
        url('AnandaNamaste.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

